h1 {
  font-family: helvetica;
}

p {
  font-family: "Times New Roman"
}

.article {
  width: 70%;
  max-width: 1000px;
  margin: auto;
}

figure {
  text-align: center;
  margin: auto;
  img {
    max-width: 100%;
  }
}
