body {

}

.subscribe-button {
  color: white;
  background-color: #0ABAFF;
  // width: 100px;
  // height: 30px;
  border-radius: 3px;
  border-style: none;
  padding: 8px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
}

.magazine {
  width: 500px;
  height: 100%;
}

.magazinecard {
  background-color: white;
  width: 200px;
  height: 100px;
  display: inline-block;
  margin: 10px;
  background-size: cover;
  // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.category {
  position: relative;
  margin-left: 20px;
  .category-title {
      font-weight: bold;
      font-size: 25px;
      margin : 0;
      margin-bottom: 5px;
    }
  .category-wrapper {
    position: relative;
    display: flex;
  }
}

.authors-slider {
  position: relative;
  .authors-slider-wrapper {
    display: flex;

    .authorcard {
      flex: 1;

      .author-image{
        display: inline-block;
        .author-profile {
          height: 100px;
          width: 100px;
        } 
      }

      .author-title {
        display: inline-block;
      }
    }
  }
}

.aboutcard-slider {
  display: none;
  position: relative;
    .aboutcard-slider-wrapper {
      display: flex;
      position: relative;

      transition: all .5s ease-in-out;
      .aboutcard {
        flex: 1;
        min-width: 100%;
        .aboutcard-wrapper {
          padding: 10px;
          border-style: solid;
          border-width: 1px;
          border-radius: 1px;
          border-color: #858585;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);

          // height: 500px;

          .aboutcard {
            margin-left: 30px;
            .aboutcard-title {
              font-weight: bold;
            }

            .aboutcard-about-title {
              font-size: 18px;
            }

            .aboutcard-about {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

.dashboard {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
}


.blogcard {
  margin-right: 20px;
  margin-bottom: 30px;
  // height: 120px;
  // width: 240px;
  // max-width: 240px;
  display: flex;
  background-color: white;

  .blogcard-wrapper {
    position: relative;
    display: block;
    width: 300px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    overflow: hidden;
    flex: 1;

    .blogcard:hover {

    }
    .background-image {
      height: 150px;
      background-size: cover;
      transition: all .3s ease-in-out;
      background-repeat: no-repeat;
      z-index: 1;
    }
    .background-image:hover {
      filter: blur(3px);
      // transform: scale(1.1); 
    }

    .background-color {
      background: rgba(128,128,128,0.5); /* newer browsers */
      z-index: 2;
      height: 150px;
      width: 300px;
      position: absolute;
      // opacity: 0.5;
      // display: none;
    }

    .blogcard-content {
      color: white;
      position: absolute;
      z-index: 3;
      transition: all .1s ease-in-out;
    }
  } 
}

.header {
  z-index: 4;
  font-size: 20px;
  color: black;
  box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  padding: 5px 0;
  height: 45px;
/*  padding-right: 100;
*/  top: 0;
  background-color: white;
  text-align: right;

  .links {
    margin-right: 80px;
  }

  p {
    display: inline-block;
    margin-left: 15px;
    padding: 3px;
  }

  button {
    color: #007bff;
    background-color: Transparent;
    border-style: none;
  }

  button:hover {
    border-radius: 3px;
    background-color: #2393FF;
    transition: all 0.2s ease;
    color: white;
  };

  p:hover {
    border-radius: 3px;
    background-color: #2393FF;
    transition: all 0.2s ease;
    a {
      color: white;
    }
  };

}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
}

.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}




