body {

}

.subscribe-button {
  color: white;
  background-color: #0ABAFF;
  // width: 100px;
  // height: 30px;
  border-radius: 3px;
  border-style: none;
  padding: 8px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  transition: all .2s ease-in-out;

}

.subscribe-button:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
};

.magazine {
  width: 500px;
  height: 100%;
  padding-top: 20px;
  padding-left: 25px;
  border-style: none;

  .close {
    position: absolute;
    top: 0;
    right: 20;
    color: white;
    background-color: grey;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    font-size: 30px;
    font-weight: normal;
    margin: 10px;
    vertical-align: middle;
    outline:none;
  }

}

.aboutcard {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 20px;
  width: 200%;
  transform: translateX(-25%);

  h1 {
    width: 100%;
  }
}

.about {
  
}

.about-author {
  padding-right: 70px;

  a {
    display: inline-block;
  }

  button {
    background-color: #0ABAFF;
    border-style: none;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    margin-left: 15px;
    vertical-align: middle;
  }
}

.magazinecard {
  background-color: white;
  width: 200px;
  height: 100px;
  display: inline-block;
  margin: 10px;
  background-size: cover;
  // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.blogcard-wrapper {
  width: 200px;
  height: 100px;
  background-size: cover;
  display: inline-block;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  margin: 10px;
  transition: all .2s ease-in-out;
  border-radius: 3px;
  cursor: pointer;
}

.blogcard-wrapper:hover {
  transform: translateY(-5px) rotateX(20deg) rotateY(5deg);
};

.category {
  position: relative;
  margin-left: 20px;
  .category-title {
      font-weight: bold;
      font-size: 25px;
      margin : 0;
      margin-bottom: 5px;
    }
  .category-wrapper {
    position: relative;
    display: flex;
  }
}

.dashboard {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;

  .categories {
    width: 700px;
    margin: auto;
  }
}

.header {
  z-index: 4;
  font-size: 20px;
  color: black;
  box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  padding: 5px 0;
  height: 45px;
/*  padding-right: 100;
*/  top: 0;
  background-color: white;
  text-align: right;

  .links {
    margin-right: 80px;
  }

  p {
    display: inline-block;
    margin-left: 15px;
    padding: 3px;
  }

  button {
    color: #007bff;
    background-color: Transparent;
    border-style: none;
    outline:none;
  }

  button:hover {
    border-radius: 3px;
    background-color: #2393FF;
    transition: all 0.2s ease;
    color: white;
  };

  p:hover {
    border-radius: 3px;
    background-color: #2393FF;
    transition: all 0.2s ease;
    a {
      color: white;
    }
  };

}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
}

.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}




