*.pyc
.env.dev

# Cached files
backend/dump

# Migrations
backend/reading_list/migrations/*.py
backend/payments/migrations/*.py
backend/users/migrations/*.py

# Directory metadata
.idea
celerybeat.pid
