
# Cached files
backend/app/dump
*.pyc

# Frontend files
frontend/pulp/node_modules
.eslintrc

# Staticfiles
backend/app/staticfiles/
backend/staticfiles/

# Migrations
backend/app/reading_list/migrations/*.py
backend/app/payments/migrations/*.py
backend/app/users/migrations/*.py
backend/app/newsletters/migrations/*.py

# Keep migration __init__.py
!backend/app/reading_list/migrations/__init__.py
!backend/app/payments/migrations/__init__.py
!backend/app/users/migrations/__init__.py
!backend/app/newsletters/migrations/__init__.py

# Celery
backend/app/celerybeat-schedule

# Pulp Blog Archive
blog_archive

# Directory metadata
.idea
celerybeat.pid
.env.dev
.env

# Puppeteer
puppeteer/.env
puppeteer/dump
