*.pyc
.env.dev

# Cached files
backend/app/dump

# Migrations
backend/app/reading_list/migrations/*.py
backend/app/payments/migrations/*.py
backend/app/users/migrations/*.py

# Directory metadata
.idea
celerybeat.pid
.env.dev
