<!-- templates/registration/login.html -->
{% load static %}

<html>
<head>    
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
 <div class="account-content">
	<p class="back">
		<i class="arrow left"></i><a href="{% url 'landing' %}">Back to Home</a>
	</p>
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
    <a class="forgot" href="/accounts/password/reset">Forgot password?</a>
  <button type="submit">Login</button>
</form>
 </div>
</body>
</html>