body {
  overflow-x: hidden;
}

.subscribe-button {
  color: white;
  background-color: #0ABAFF;
  // width: 100px;
  // height: 30px;
  border-radius: 3px;
  border-style: none;
  padding: 8px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.magazine {
  width: 400px;
  height: 520px;
  // transform: scale(0.8);
  border-width: 1px;
  border-radius: 1px;
  box-shadow: 0px 2px 4px #000000;  
  background-color: #F3F3F3;
  position: absolute;
  z-index: 10;

  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;

  .binding {
    width: 40px;
    height: 520px;
    position: absolute;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0, 0.5);  
  }
  .content {
    margin-left: 50px;
    .magazine-title {
      font-weight: bold;
    }
    .subtitle {
      line-height: 0px;
      font-weight: bold;
    }
    .blog-chapters {
      padding-top: 70px;
      .blog-chapter {
        width: 230px;
        font-size: 14px;
        position: relative;
        .blog-name {
          font-weight: bold;
          line-height: 0px;
        }
        .underline {
          position: relative;
          bottom: 0px;
          top: -8px;
          left: -50px;
          right: 0;
          // border-bottom: 1px solid blue;
          border-width: 2px;
          // width: 170px;
        }
        .blog-title {
          line-height: 20px;
        }
        .gradient {
          content: "";
          position: absolute;
          left: 280px;
          height: 30px;
          width: 20px;
          opacity: 0.5;
        }
      }
      .gradient2 {
        content: "";
        position: absolute;
        left: 330px;
        width: 20px;
        opacity: 0.5;
      }
    }
  }
}



.category {
  position: relative;
  margin-left: 20px;
  .category-title {
      font-weight: bold;
      font-size: 25px;
      margin : 0;
      margin-bottom: 5px;
    }
  .category-wrapper {
    position: relative;
    display: flex;
  }
}

.authors-slider {
  position: relative;
  .authors-slider-wrapper {
    display: flex;

    .authorcard {
      flex: 1;

      .author-image{
        display: inline-block;
        .author-profile {
          height: 100px;
          width: 100px;
        } 
      }

      .author-title {
        display: inline-block;
      }
    }
  }
}

.aboutcard-slider {
  display: none;
  position: relative;
    .aboutcard-slider-wrapper {
      display: flex;
      position: relative;

      transition: all .5s ease-in-out;
      .aboutcard {
        flex: 1;
        min-width: 100%;
        .aboutcard-wrapper {
          border-style: solid;
          border-width: 1px;
          border-radius: 3px;
          border-color: #858585;
          // height: 500px;

          .aboutcard {
            margin-left: 30px;
            .aboutcard-title {
              font-weight: bold;
            }

            .aboutcard-about-title {
              font-size: 18px;
            }

            .aboutcard-about {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

.dashboard {
  background-color: #FFFEFC;
  margin-left: 30px;
  margin-right: 30px;
}

.page {
  width: 400px;
  height: 520px;
  position: absolute;
  left: 20px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px #000000; 
  z-index: 2;
}

.page2 {
  width: 400px;
  height: 520px;
  position: absolute;
  left: 25px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px #000000; 
  z-index: 1;
}

.blogcard {
  margin-right: 20px;
  margin-bottom: 30px;
  // height: 120px;
  // width: 240px;
  // max-width: 240px;
  display: flex;

  .blogcard-wrapper {
    position: relative;
    display: block;
    height: 150px;
    width: 300px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    overflow: hidden;
    flex: 1;

    .blogcard:hover {

    }
    .background-image {
      height: 150px;
      background-size: cover;
      transition: all .3s ease-in-out;
      background-repeat: no-repeat;
      z-index: 1;
    }
    .background-image:hover {
      filter: blur(3px);
      // transform: scale(1.1); 
    }

    .background-color {
      background: rgba(128,128,128,0.5); /* newer browsers */
      z-index: 2;
      height: 150px;
      width: 300px;
      position: absolute;
      // opacity: 0.5;
      // display: none;
    }

    .blogcard-content {
      color: white;
      position: absolute;
      z-index: 3;
      transition: all .1s ease-in-out;
    }
  } 
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
}

.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}





