.magazine {
  width: 400px;
  height: 520px;
  // transform: scale(0.8);
  border-width: 1px;
  border-radius: 1px;
  box-shadow: 0px 2px 4px #000000;  
  background-color: #F3F3F3;
  position: absolute;
  z-index: 10;

  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;

  .binding {
    width: 40px;
    height: 520px;
    position: absolute;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0, 0.5);  
  }

  .content {
    margin-left: 50px;

    .magazine-title {
      font-weight: bold;
    }

    .subtitle {
      line-height: 0px;
      font-weight: bold;
    }

    .blog-chapters {
      padding-top: 20px;

      .blog-chapter {
        width: 230px;
        font-size: 14px;

        position: relative;

        .blog-name {
          font-weight: bold;
          line-height: 0px;
        }

        .underline {
          position: relative;
          bottom: 0px;
          top: -8px;
          left: -50px;
          right: 0;
          // border-bottom: 1px solid blue;
          border-width: 2px;
          // width: 170px;
        }

        .blog-title {
          line-height: 20px;
        }

        .gradient {
          content: "";
          position: absolute;
          background-color: green;
          left: 280px;
          height: 30px;
          width: 20px;
          // border-style: solid;
        }

      }

      .gradient2 {
        content: "";
        position: absolute;
        background-color: red;
        left: 330px;
        height: 30px;
        width: 20px;
        // border-style: solid;
      }

    }

  }

}

.page {
  width: 400px;
  height: 520px;
  position: absolute;
  left: 20px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px #000000; 
  z-index: 2;
}

.page2 {
  width: 400px;
  height: 520px;
  position: absolute;
  left: 25px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px #000000; 
  z-index: 1;
}


