.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  border-width: 2px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.delivery-container {
  position: relative;
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #4c8fff;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  }
}

.delivery {
  width: 80%;
  max-width: 1000px;
  margin: 35px auto;

  h1 {
    font-weight: bold;
    font-size: 45px;
  }
}

.sort-label {
  display: inline-block;
  margin-left: 10px;
}

.sort-button {
  display: inline-block;
  margin-left: 5px;

  button {
    height: 30px;
    line-height: 15px;
    background-color: #4c8fff;
    border-color: #4c8fff;
  }
}

.filter {
  display: inline-block;

  input {
    border-radius: 5px;
    border: 1px solid #dddddd;
  }
}

.table-container {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  min-width: 600px;

  $border-color: #afaeac;
  $page-count-basis: 150px;
  $general-basis: 100px;
  .table-header {
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $border-color;

    div {
      border-right-style: solid;
      border-right-width: 1px;
      border-right-color: $border-color;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: $general-basis;
      height: 40px;
      color: #afaeac;
      position: relative;
      line-height: 40px;
    }

    .title-header {
      flex-grow: 1;
      margin-left: 20px;
    }

    .page-header {
      flex-basis: $page-count-basis;
      text-align: center;
    }

    .subheader {
    }

    .date-header {
      border-right-style: none;
    }
  }
  .delivery-items {
    .delivery-item {
      color: black;
      display: flex;
      border-bottom-style: solid;
      border-bottom-color: $border-color;
      border-width: 1px;
      border-radius: 3px;
      // min-height: 25px;
      height: 50px;

      .article-title {
        flex-grow: 1;
        flex-basis: $general-basis;
        flex-shrink: 0;
        margin-left: 20px;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: $border-color;
        text-overflow: ellipsis;
        position: relative;
        overflow: hidden;

        p {
          font-size: 15px;
          // margin-left: 15px;
          // margin-top: 10px;
          // line-height: 50px;
          text-overflow: ellipsis;
          // white-space: pre;
        }
      }

      .to-deliver {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100px;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: $border-color;
        position: relative;

        .checkbox {
          border-style: solid;
          height: 22px;
          width: 22px;
          cursor: pointer;

          img {
            width: 18px;
            height: 18px;
          }
        }

        .selected {
          background-color: #4c8fff;
          border-color: #4c8fff;
        }
      }

      .page-count {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: $page-count-basis;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: $border-color;
        position: relative;
        font-size: 18px;
      }

      .date-added {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100px;
      }
    }
  }
}
