ul {
    list-style-type: none;
    padding-left: 0;
}

.settings-section {
    .settings-section-header {
        font-weight: bold;
        border-bottom: 1px solid #4c8fff;
    }

    .settings-section-content {
        .settings-item {
            border-bottom: 1px solid #f1f1f1;
            .settings-item-main {
                display: flex;

                .settings-item-name {
                    flex: 0 1 0;
                    min-width: 20%;
                    font-weight: bold;
                }

                .settings-item-content {
                    flex: 1 1 0;

                    .settings-item-form {
                        display: none;
                    }
                }

                .settings-item-edit {
                    flex: 0 1 0;
                }
            }
        }

        .settings-item.editing {
            background-color: #fafafa;
            .settings-item-content {
                .settings-item-description {
                    display: none;
                }
                .settings-item-form {
                    display: block;
                }
            }
        }
    }
}