@page { size: auto;  margin: 0mm; }

body {
  margin: 10mm 15mm 10mm 15mm; /* margin you want for the content */
  font-family: georgia;
  font-size: 10;
}

img {
  max-height: 100%;
  max-width: 100%;
}

h4 {
  font-family: helvetica;
}

.header {
  font-family: helvetica;
  line-height: 8px;
}

.main-content {
  column-count: 3;
}

.date {
  color: gray;
}

.author {
  color: gray;
}

blockquote {
  margin-left: 0px;
  border-left: 3px solid #eee;
  padding-left: 10px;
}
