.unpaid {
  // text-align: center;
  width: 300px;
  .pay-card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin: auto;
    width: 100%;
    text-align: center;
  }
}

.title {
  font-size: 95px;
  font-weight: bold;
}

.description {
  font-size: 20px;
  // position: relative;
  // top: -25px;
}

@media only screen and (max-width: 1000px) {
  body {
    .second-half {
      display: block !important;
      margin-top: 20px;
    }

    .subscribe-container {
      flex-direction: column !important;
    }

    .first-half {
      margin: auto !important;
      display: block !important;
    }
  }
}

.getpulp {
  // position: relative;
  background-color: #34d058;
  color: white;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 23px;
}

.subscribe-container {
  // width: 800px;
  // width: 95%;
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  // flex-direction: row;
  // flex-wrap: wrap-reverse;
  margin-left: auto;
  margin-right: auto;
  width: 800px;

  .first-half {
    // display: inline-block;
    // vertical-align: top;
    width: 400px;
    position: relative;
    top: 15px;
    margin-left: 50px;
  }

  .second-half {
    // display: inline-block;
    // vertical-align: top;
  }
}
