.empty-img {
    height: 105px;
    margin-bottom: 1rem;
}

.empty-header {
    font-weight: bold;
}

.empty-integrations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-integrations button {
    margin-bottom: 1rem;
}