{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="dashboard-frame">
{%  block content  %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'users:signup' %}">signup</a>
{% endif %}
{% endblock %}
<div id="landing"></div>
<script src={{js_file}}></script>
</body>
</html>