{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{gmaps_key}}&libraries=places"></script>
</head>
<body class="profile-frame">
{% csrf_token %}
{%  block content  %}
{% if user.is_authenticated %}
    <a href="/dashboard">dashboard</a>
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
<div id="profile"></div>
<script src="http://localhost:8080/profile.js"></script>
</body>
</html>