{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% if not debug %}
            <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        {% endif %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <title>Pulp</title>
        <script>
            var stripe_public_key = "{{stripe_public_key}}";
        </script>
        <script src="https://js.stripe.com/v3"></script>
    </head>
    <body>
        {% csrf_token %}
        <div id="reading_list"></div>
        <script src="{{js_file}}"></script>
    </body>
</html>

