$article-width: 800px;

h1 {
  font-family: helvetica;
  font-weight: bold;
}

body {
  font-family: "Times New Roman";
  font-size: 22px;
}

.author {
  font-family: helvetica;
  line-height: 25px;
}

.article {
  // width: 50%;
  max-width: $article-width;
  margin: auto;
}

figure {
  margin: auto;
  img {
    text-align: center;
    width: 100%;
    margin: auto;
  }
  max-width: 500px;
}

img {
  margin: auto;
  max-width: $article-width;
}

blockquote {
  margin-left: 0px;
  border-left: 3px solid #989898;
  padding-left: 10px;
  background-color: #f7f7f7;
  padding: 5px;
  border-radius: 3px;
}
