$sidebar-color: #f6f6f2;
$header-height: 50px;

.archive-body {
  width: 80%;
  margin: 35px auto;
}

h1 {
  font-weight: bold;
  font-size: 45px;
  display: inline-block;
}

hr {
  border-color: #4c8fff;
  position: relative;
  bottom: 10px;
}

$sidebar-width: 170px;
.page-container {
  color: black;
  width: calc(100% - #{$sidebar-width});
  // min-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-container {
  // border-right: solid;
  flex-grow: 0;
  /* do not grow   - initial value: 0 */
  flex-shrink: 1;
  /* do not shrink - initial value: 1 */
  flex-basis: $sidebar-width;
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  .sidebar {
    padding-top: 30px;
    position: fixed;
    z-index: 4;
    width: $sidebar-width;
    height: 100%;
    background-color: $sidebar-color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
}
$menu-font-size: 20px;
$menu-item-color: #a8a894;
$menu-item-margin: 20px;
$menu-item-margin-top: 5px;
$menu-item-height: 35px;
$menu-item-padding-left: 10px;
$menu-item-padding-right: 10px;
$menu-item-margin-right: 10px;
$text-align: right;
.menu-item {
  color: $menu-item-color;
  font-size: $menu-font-size;
  // margin-top: $menu-item-margin-top;
  height: $menu-item-height;
  line-height: $menu-item-height;
  padding-left: $menu-item-padding-left;
  padding-right: $menu-item-padding-right;
  font-weight: bold;
  margin-right: $menu-item-margin-right;
  // text-align: $text-align;
  float: right;
  -webkit-transition: all 0.2s ease-in-out;
  // margin-left: $menu-ictem-margin;
}

.menu-item:hover {
  -webkit-transition: all 0.2s ease-in-out;
  color: white;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #a9a995;
  border-radius: 2px;
  // height: 30px;
  // box-shadow: 0 1px 4px 0 rgba(246, 246, 242, 1);
}

.menu-item-selected {
  color: white;
  // text-align: $text-align;
  font-weight: bold;
  font-size: $menu-font-size;
  background-color: #a9a995;
  // width: 100%;
  // min-width: 100px;
  float: right;
  height: $menu-item-height;
  line-height: $menu-item-height;
  padding-left: $menu-item-padding-left;
  padding-right: $menu-item-padding-right;
  margin-right: $menu-item-margin-right;
  margin-left: 5px;
  border-radius: 2px;
}
$icon-margin-right: 5px;
$icon-margin-left: 5px;
$icon-height: 20px;

.icon {
  height: $icon-height;
  display: inline-block;
  position: relative;
  bottom: 2px;
  margin-right: $icon-margin-right;
  margin-left: $icon-margin-left;
}

.unread {
  height: $icon-height;
  width: $icon-height;
  background-color: white;
  display: inline-block;
  border-radius: 3px;
  margin-right: $icon-margin-right;
  margin-left: $icon-margin-left;
  position: relative;
  // top: 1px;
  bottom: 2px;

  .number {
    color: #a8a894;
    // position: absolute;
    // top: 0px;
    font-weight: normal;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    line-height: 22px;
  }

  .circle {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: #424242;
    position: relative;
    top: 5px;
    margin: auto;
    vertical-align: center;
  }
}

.pulp-container {
  display: flex;
  height: 100%;
  margin-top: $header-height;
}

$header-background-color: #363634;
.header {
  z-index: 4;
  font-size: 20px;
  color: white;
  position: fixed;
  width: 100%;
  padding: 5px 0;
  height: $header-height;
  background-color: $header-background-color;
  top: 0;
  text-align: right;
  // min-width: 970px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);

  button {
    background-color: $header-background-color !important;
    border-color: $header-background-color !important;
  }

  .profile {
    float: right;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    padding: 5px;
    cursor: pointer;
    position: relative;
    // background-color: #525252;
    // border-color: #525252;

    .profile-circle {
      $height: 30px;
      background-color: white;
      width: 30px;
      height: $height;
      border-radius: 50%;
      display: inline-block;
      color: #4c8fff;
      text-transform: uppercase;
      text-align: center;
      line-height: $height;
      vertical-align: middle;
    }

    .chevron {
      display: inline-block;
      margin-left: 3px;
      img {
        height: 10px;
        margin: auto;
      }
    }
  }

  // To remove bootstrap dropdown arrow
  .dropdown-toggle:after {
    display: none;
  }

  .header-menu {
    height: 150px;
    background-color: black;
    width: 200px;
    position: absolute;
    right: 30px;
    top: $header-height;
  }

  .profile:hover {
    background-color: #525252 !important;
    -webkit-transition: all 0.2s ease-in-out;
    border-color: #525252 !important;
  }

  .profile:focus {
    background-color: #525252 !important;
    border-color: #525252 !important;

    .profile-circle {
      color: black;
      background-color: white;
    }
  }

  .logo {
    float: left;
    margin-left: calc(#{$sidebar-width} - 70px);
    height: calc(#{$header-height} - 13px);
    vertical-align: top;
  }
}
